<% layout('layouts/boilerplate') %>

<h1>All Cocktails</h1>

<div>
    <a href="/cocktails/new">Add a new Cocktail</a>
</div>

<ul id="cocktail-list">
    <!-- Let's get these drinks organized alphabetically for starters. -->
    <% let cocktailArr = [] %> 
    <% for (let cocktail of cocktails) { %>
        <% cocktailArr.push(cocktail) %>
    <% } %>
    <% cocktailArr.sort((a,b) => a.title.localeCompare(b.title)) %>
    <!-- Now we can iterate over the sorted array. -->
    <% for (let cocktail of cocktailArr) { %>
        <li>
            <a href="/cocktails/<%= cocktail._id %>">
                
                <section class="cocktail-card-index">
                    <div class="cocktail-card-index__header">
                        <h2>
                            <%= cocktail.title %>
                        </h2>
                    </div>
                    
                    <img src="<%= cocktail.image %>" alt="<%= cocktail.title %>">

                    <p class="cocktail-card-index__description"><%= cocktail.description %></p>
                </section>
            </a>
        </li>
    <% } %>
</ul>

<script src="/js/cocktails/index.js"></script>