<% layout('layouts/boilerplate') %>

<h1>All Cocktails</h1>

<div>
    <a href="/cocktails/new">Add a new Cocktail</a>
</div>

<ul id="cocktail-list">
    <% for (let cocktail of cocktails) { %>
        <li>
            <a href="/cocktails/<%= cocktail._id %>">
                
                <section class="cocktail-card-index">
                    <div class="cocktail-card-index__header">
                        <h2>
                            <%= cocktail.title %>
                        </h2>
                    </div>
                    
                    <img src="<%= cocktail.image %>" alt="<%= cocktail.title %>">

                    <p class="cocktail-card-index__description"><%= cocktail.description %></p>
                </section>
            </a>
        </li>
    <% } %>
</ul>   