<% layout('layouts/boilerplate') %>

<a href="/cocktails">Go back to Cocktails</a>

<section class="cocktail-card-show">
    <div class="cocktail-card-show__header">
        <h1 class="cocktail-card-show__title">
            <%= cocktail.title %>
        </h1>
    </div>

    
    <div class="cocktail-card-show__image">
        <img src="<%= cocktail.image %>" alt="<%= cocktail.title %>">
    </div>

    <div class="cocktail-card-show__body">

        <div class="cocktail-card-show__description">
            <p>
                <%= cocktail.description %>
            </p>
        </div>

        <div class="cocktail-card-show__ingredients">
            <h2>Ingredients</h2>
            <ul>
                <% if(cocktail.ing1 !== "") { %>
                <li>
                    <%= cocktail.ing1 %>
                </li>
                <% } %>
                <% if(cocktail.ing2 !== "") { %>
                <li>
                    <%= cocktail.ing2 %>
                </li>
                <% } %>
                <% if(cocktail.ing3 !== "") { %>
                <li>
                    <%= cocktail.ing3 %>
                </li>
                <% } %>
                <% if(cocktail.ing4 !== "") { %>
                <li>
                    <%= cocktail.ing4 %>
                </li>
                <% } %>
                <% if(cocktail.ing5 !== "") { %>
                <li>
                    <%= cocktail.ing5 %>
                </li>
                <% } %>
                <% if(cocktail.ing6 !== "") { %>
                <li>
                    <%= cocktail.ing6 %>
                </li>
                <% } %>
                <% if(cocktail.ing7 !== "") { %>
                <li>
                    <%= cocktail.ing7 %>
                </li>
                <% } %>
                <% if(cocktail.ing8 !== "") { %>
                <li>
                    <%= cocktail.ing8 %>
                </li>
                <% } %>
                <% if(cocktail.ing9 !== "") { %>
                <li>
                    <%= cocktail.ing9 %>
                </li>
                <% } %>
                <% if(cocktail.ing10 !== "") { %>
                <li>
                    <%= cocktail.ing10 %>
                </li>
                <% } %>
            </ul>
        </div>

        <div class="cocktail-card-show__instructions">
            <h2>Instructions</h2>
            <p>
                <%= cocktail.instructions %>
            </p>
        </div>

        <div class="cocktail-card-show__glass">
            <h2>Glass</h2>
            <p>
                <%= cocktail.glass %>
            </p>
        </div>

        <div class="cocktail-card-show__garnish">
            <h2>Garnish</h2>
            <p>
                <%= cocktail.garnish %>
            </p>
        </div>

    </div>
</section>
<div>
    <form action="/compendiums/<%compendiums._id%>/addCocktail" method="POST">
        <button>Add to Compendium: </button>
        <select>
            <% for (var i=0; i < compendiums.length; i++) { %>
                <option id="compedium-selection" value="<%= compendiums[i].id %>">
                    <%= compendiums[i].name %>
                </option>
                <% } %>
        </select>
    </form>
</div>
<div>
    <form action="/cocktails/<%= cocktail.id %>/edit" method="get">
        <button type="submit">Edit</button>
</div>
<div>
    <form action="/cocktails/<%= cocktail._id %>/?_method=DELETE" method="POST">
        <button>Delete Cocktail</button>
</div>
<footer>
    <a href="/cocktails">Go back to Cocktails</a>
</footer>